.card {
  @apply flex flex-col flex-wrap text-sm leading-5;
}

.card li {
  @apply p-2;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: inline-block;
  font-size: 18px;
  font-family: "简体宋体";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-chevron-left::before {
  content: "<";
}

.bi-chevron-right::before {
  content: ">";
}