.card {
  @apply flex flex-col flex-wrap text-sm leading-5;
}

.card li {
  @apply p-2;
}

.bi::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-chevron-right::before {
  content: "\f285";
}